# Common settings
TabWidth:        4
IndentWidth:     4
UseTab:          Never
ColumnLimit: 100

BreakBeforeBraces: Custom
BraceWrapping: {
    AfterClass: 'false'
    AfterControlStatement: 'false'
    AfterEnum : 'false'
    AfterFunction : 'true'
    AfterNamespace : 'false'
    AfterStruct : 'false'
    AfterUnion : 'false'
    BeforeCatch : 'false'
    BeforeElse : 'false'
    IndentBraces : 'false'
    AfterExternBlock : 'false'
    SplitEmptyFunction : 'false'
    SplitEmptyRecord : 'false'
    SplitEmptyNamespace : 'false'
}

DerivePointerAlignment: false
PointerAlignment: Left
MacroBlockBegin: ''
MacroBlockEnd: ''
IndentPPDirectives: BeforeHash